@font-face {
  font-family: "AritaBuriKR-SemiBold";
  src: url(../font/AritaBuriKR-SemiBold.ttf);
}
@font-face {
  font-family: "AritaDotumKR-SemiBold";
  src: url(../font/AritaDotumKR-SemiBold.ttf);
}
@font-face {
  font-family: "AritaDotumKR-Medium";
  src: url(../font/AritaDotumKR-Medium.ttf);
}
@font-face {
  font-family: "AritaDotumKR-Light";
  src: url(../font/AritaDotumKR-Light.ttf);
}
@font-face {
  font-family: "SCDream6";
  src: url(../font/SCDream6.otf);
}
@font-face {
  font-family: "Pretendard-Light";
  src: url(../font/Pretendard-Light.otf);
}
@font-face {
  font-family: "Pretendard-SemiBold";
  src: url(../font/Pretendard-SemiBold.otf);
}
@font-face {
  font-family: "The_Tuesday_of_Younah";
  src: url(../font/The_Tuesday_of_Younah.ttf);
}
