body {
  height: 100vh;
  position: relative;
  padding: 1% 10%;
}
button {
  cursor: pointer;
}
.blind {
  display: none;
}

/* Header */
header {
  border-bottom: 1px solid #eee;
}
.inner {
  padding: 0.8% 3%;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background: #fff;
}
h1 a {
  display: block;
  width: 168px;
  height: 50px;
  background-image: url(../img/logo_bgx.png);
}
#gnb .dep1 {
  display: flex;
  align-items: center;
  gap: 80px;
  font-size: 18px;
  font-family: "AritaDotumKR-SemiBold";
}
#gnb .dep1 > li {
  position: relative;
}
#gnb .dep2_wrap {
  display: none;
  position: absolute;
  top: 48px;
  right: 0;
  left: -20px;
  width: 150px;
  height: 150px;
  background: #eee;
}
#gnb .dep2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding-top: 10%;
  font-family: "AritaDotumKR-Medium";
}
header .header_util {
  display: flex;
  align-items: center;
  gap: 30px;
}

/* Main */
.main_wrap {
  font-family: "Pretendard-Light";
  margin: 5% 8%;
  padding: 2% 0 0 0;
  display: flex;
  gap: 130px;
}
.main_wrap > img {
  width: 800px;
  height: 800px;
}
.main_wrap .main_content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.main_wrap .main_content .title {
  font-size: 20px;
  font-family: "Pretendard-SemiBold";
  line-height: 1.5em;
}
.main_wrap .main_content .price {
  font-size: 18px;
  font-family: "Pretendard-medium";
}
.main_wrap .main_content .txt {
  color: #272727;
  line-height: 1.3em;
}
.main_wrap .main_content .delivery {
  display: flex;
  flex-direction: column;
  line-height: 1.5em;
  color: #272727;
  font-size: 14px;
}
.main_wrap .main_content .option {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
  color: #272727;
}
.main_wrap .main_content .option > select {
  border: 1px solid #ddd;
  padding: 2%;
}
.main_wrap .main_content .purchase {
  margin-top: 20%;
  padding: 3%;
  border: 1px solid #000;
  text-align: center;
  color: #fff;
  background: #000;
}
.page_img {
  padding: 0 18%;
  margin: 3% auto;
}
